.mainTweet {
  width: 100%;
  cursor: pointer;
  .tweetContent {
    display: flex;
    .picture {
      background: gray;
      border-radius: 100%;
      width: 3rem;
      height: 3rem;
      margin-left: 2rem;
    }
    .tweetDetails {
      .userName {
        margin-left: 1rem;
        span {
          font-weight: 200;
          color: gray;
        }
      }
      .tweetText {
        margin-left: 1rem;
      }
    }
  }
  .rt {
    margin-left: 5rem;
    margin-right: 5rem;
  }
}
