.tweetWindowContainer {
  height: 80vh;
  width: 60vw;
  margin: 0 auto;
  border: solid gray 1px;
  background: white;
  z-index: 3000;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin-top: 5rem;
  position: fixed;
  border-radius: 2rem;
  .tweetDetails {
    background: white;
    padding: 1rem;
    margin: 5rem;
    input {
      width: 30rem;
      padding: 1rem;
      border: none;
      border-radius: 10px;
      background: rgb(247, 247, 247);
      margin: 6rem auto;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      &:focus {
        outline: none;
      }
    }
  }
  button {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 5rem;
    width: 10rem;
    border-radius: 2rem;
    height: 3rem;
    padding: 10px;
    border: none;
    background: rgb(23, 179, 232);
    color: white;
    cursor: pointer;
    &:hover {
      background: rgba(23, 180, 232, 0.611);
    }
  }
}
